[Unit]
Description=ABLS Agent Phidget (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-phidget --thread_tech_id %i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
