[Unit]
Description=ABLS Agent Phidget (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-phidget --agent-tech-id %i
DynamicUser=yes
SupplementaryGroups=abls
StateDirectory=abls-agent-phidget/%i
WorkingDirectory=%S/abls-agent-phidget/%i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
